absl-py==0.7.1
apipkg==1.5
atomicwrites==1.3.0
attrs==18.2.0
cffi==1.12.2
cloudpickle==0.8.1
coverage==5.0a4
cycler==0.10.0
docopt==0.6.2
execnet==1.5.0
gnureadline==6.3.8
grpcio==1.19.0
horovod==0.16.1
joblib==0.13.2
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
more-itertools==5.0.0
nose==1.3.7
numpy==1.16.2
opencv-python==4.1.1.26
pandas==0.24.2
pep8==1.7.1
Pillow==5.4.1
pluggy==0.6.0
protobuf==3.7.1
psutil==5.6.1
py==1.7.0
pycodestyle==2.4.0
pycparser==2.19
pygelf==0.3.4
pyparsing==2.3.1
pytest==3.6.3
pytest-cache==1.0
pytest-cov==2.5.1
pytest-forked==1.0.1
pytest-html==1.19.0
pytest-metadata==1.8.0
pytest-pep8==1.0.6
pytest-xdist==1.22.2
python-dateutil==2.8.0
pytz==2018.9
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorboardX==1.6
torch
torchvision
tqdm==4.31.1

Werkzeug==0.15.1
